<div class="page-header">
  <h1>Favorite #<%= @favorite.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @favorite.user_id %></dd>

  <dt>Building</dt>
  <dd><%= @favorite.building_id %></dd>

  <dt>Neighborhood</dt>
  <dd><%= @favorite.neighborhood_id %></dd>

</dl>
